[Unit]
BindsTo=sway-session.target

[Service]
Type=simple
Restart=always
Environment=SWAYIPC_MODULES_PATH=%h/code/sway-ipc/submodule
TimeoutStopSec=2
WorkingDirectory=%h/code/sway-ipc
ExecStart=/usr/bin/python %h/code/sway-ipc/swayipc.py

[Install]
WantedBy=sway-session.target
