[Unit]
BindsTo=sway-session.target

[Service]
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=1
TimeoutStopSec=2
WorkingDirectory=%h/code/sway-ipc
ExecStart=%h/code/sway-ipc/swayipc.py

[Install]
WantedBy=sway-session.target
